[Unit]
Description=Node Exporter

[Socket]
{% for listen in node_exporter_listenstreams %}
ListenStream={{ listen }}
{% endfor %}

[Install]
WantedBy=sockets.target
