[client]
host = {{ mysqld_exporter_db_host }}
user = {{ mysqld_exporter_db_user }}
password = {{ mysqld_exporter_db_password }}
ssl-ca = {{ mysqld_exporter_db_cafile }}
ssl-key = {{ mysqld_exporter_db_keyfile }}
ssl-cert = {{ mysqld_exporter_db_certfile }}
