---
global:
  scrape_interval: 10s
  evaluation_interval: 1m

scrape_configs:
  {% for name, job in prometheus_jobs.items() %}
  - job_name: '{{ name }}'
    scheme: https
    tls_config:
      ca_file: '{{ prometheus_cafile }}'
    basic_auth:
      username: '{{ job.username }}'
      password_file: '{{ job.password_file }}'
    {% if job.metrics_path is defined %}
    metrics_path: {{ job.metrics_path }}
    {% endif %}
    static_configs:
      {% for host in job.hosts %}
        - targets: ['{{ hostvars[host].prometheus_ip }}:{{ job.port }}']
          labels:
            instance: '{{ host }}'
            {% for label, value in hostvars[host].prometheus_labels.items() %}
            {{ label }}: '{{ value }}'
            {% endfor %}
      {% endfor %}
  {% endfor %}
