---
global:
  scrape_interval: 10s
  evaluation_interval: 1m

alerting:
  alertmanagers:
    - scheme: https
      tls_config:
        ca_file: '{{ prometheus_cafile }}'
      basic_auth:
        username: '{{ prometheus_alertmanager_username }}'
        password_file: '{{ prometheus_alertmanager_passwordfile }}'
      static_configs:
        - targets: ['{{ prometheus_alertmanager }}']

rule_files:
  - '{{ prometheus_rules_dir }}/*.yml'

scrape_configs:
  {% for name, job in prometheus_jobs.items() %}
  - job_name: '{{ name }}'
    scheme: https
    tls_config:
      ca_file: '{{ prometheus_cafile }}'
    basic_auth:
      username: '{{ job.username }}'
      password_file: '{{ job.password_file }}'
    {% if job.metrics_path is defined %}
    metrics_path: {{ job.metrics_path }}
    {% endif %}
    static_configs:
      {% for host in job.hosts %}
        - targets: ['{{ hostvars[host].prometheus_ip }}:{{ job.port }}']
          labels:
            instance: '{{ host }}'
            {% for label, value in hostvars[host].prometheus_labels.items() %}
            {{ label }}: '{{ value }}'
            {% endfor %}
      {% endfor %}
  {% endfor %}
